body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 15px 20px #d8b0ec;
  }
  
  h1 {
    text-align: center;
    color: #61045f;
  }
  
  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjusted */
    padding: 2px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-image: linear-gradient(to right, #aa076b, #61045f);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Ensure the button takes up the full width available */
    margin: 0 auto;
  }
  
  button:hover {
    background-color: #ffffff;
  }
  